<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MIDI Mate</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/services.css">

    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- SELECT2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css" rel="stylesheet" />

    <script src="js/axios/axios.min.js"></script>

    <link rel="icon" type="image/png" href="images/logo.png" />
</head>

<body>

    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header" id="header-title">
                Menu
            </div>

            <ul class="list-unstyled components">
                <li class="nav-item">
                    <a href="/editUser" style="color: rgba(73, 73, 73, 0.7) !important;"><i class="fas fa-user-tie fa-1x"
                            style="color: rgb(73, 73, 73) !important;"></i> &nbsp&nbsp Account</a>
                </li>
                <li class="nav-item">
                    <a href="/listIdeas" style="color: rgba(73, 73, 73, 0.7) !important;"><i class="fas fa-music fa-1x"
                            style="color: rgba(73, 73, 73) !important;"></i> &nbsp&nbsp My ideas</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="color: rgba(73, 73, 73, 0.7) !important;"><i class="fas fa-plus fa-1x"
                            style="color: rgba(73, 73, 73) !important;"></i> &nbsp&nbsp Create New Idea</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="/createDiscount" style="color: #80d4ff !important;"><i class="fas fa-percentage fa-1x"
                            style="color: #80d4ff !important;"></i> &nbsp&nbsp Cadastrar Desconto</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="/listDiscounts" style="color: #80d4ff !important;"><i class="fas fa-list-ul fa-1x"
                            style="color: #80d4ff !important;"></i> &nbsp&nbsp Listar Descontos</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="#" style="color: #80d4ff !important;"><i class="fas fa-file-alt fa-1x"
                            style="color: #80d4ff !important;"></i> &nbsp&nbsp Relatórios</a>
                </li> -->
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: white;"> <!-- style="background-color: #6e00b8;" -->
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn">
                        <i class="fas fa-bars" id="navtoggle"></i>
                    </button>

                    <a href="/home" class="navbar-brand"><img src="images/logo.png"></a>

                    <ul id="border2" class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/logout" id="logout" class="btn blue-parkeen-back">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /NAVBAR -->
