<%- include ("../main/header.ejs")%>


<!-- CONTENT -->
<header class="masthead">
    <div class="container d-flex align-items-center">
        <div class="mx-auto text-center">
            <br>
            <br>
            <br>
            <br>
            <!-- <img src="images/gear.gif" alt="FIBO" style="width: 100% !important; height: 100% !important;"> -->
        </div>
    </div>
</header>
<!-- /CONTENT -->


<%- include ("../main/footer.ejs")%>

<script>    
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
</script>

</html>