<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MIDI Mate</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="icon" type="image/png" href="images/midi-mate-icon.png" />
    
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="js/axios/axios.min.js"></script>

</head>

<body>

    <div id="content">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #6e00b8;">
            <div class="container-fluid">

                <a href="/" class="navbar-brand"><img src="/images/fibo_logo.png"></a>

                <ul id="border2" class="nav navbar-nav ml-auto">
                </ul>
            </div>
        </nav>
        <!-- /NAVBAR -->

        <!-- CONTENT -->
        <br>
        <br>
        <br>
        <br>
        <form id="formLogin" action="javascript:auth()" method="post">    
            <div class="contentform">
                <div class="center">
                    <div class="form-group">
                        <p>Email<span>*</span></p>
                        <span class="icon-case"><i class="fa fa-user center-icon"></i></span>
                        <input type="email" id="userEmail" name="userEmail" value="" maxlength="127" required>
                    </div>
                    <div class="form-group">
                        <p>Senha<span>*</span></p>
                        <span class="icon-case"><i class="fa fa-key center-icon"></i></span>
                        <input type="password" id="userPassword" name="userPassword" minlength="8" required>
                    </div>
                    <a href="/createUser">Create Account</a>
                </div>
                <button type="submit" class="btn btn-primary" style="margin: 0 auto !important; display: block !important;">Entrar</button>
            </div>
        </form>
        <!-- /CONTENT -->
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
    </script>

</body>

<script>

    /**
     * AUTH:
     * Sends input data for validation.
     */
    function auth() {

        let user = {
            userEmail: document.getElementById("userEmail").value,
            userPassword: document.getElementById("userPassword").value,
        }

        /* Freezes object, making it unaterable. */
		Object.freeze(user);
        
        /*Verificação se a senha possui o minímo de caracteres.*/
        if(user.userPassword.length < 8) {
            alert("Invalid passoword!");
            return;
        }
        else {
            axios.post("/userWebAuth", user)
            .then((response) => {
                
                /* Freezes object, making it unalterable. */
                Object.freeze(response);
                
                /* Checks return status. */
                if (response.data.status == "success") {
                    window.location.href = "/home"
                }
                else{
                    /* Gets message(s) from response. */
                    let msg = response.data.msg;

                    /* Checks number of messages. */
                    if(Array.isArray(response.data.msg)) {
                        msg = "";

                        /* Creates full message with 1 or more messages from response. */
                        for (const i in response.data.msg) {
                            msg += response.data.msg[i].msg;
                            msg += "\n";
                        }
                    }

                    /* Shows message. */
                    alert(msg);
                }
            })
            .catch((error) => {
                /* If error. */
                alert("Server error, try again later.");
                console.log(error);
            });
        }
    }

</script>

</html>