@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
    display: flex;
    /* width: 100%; */
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .table-responsive{
        max-width:320px; 
    }


}

body {
    font-family: 'Roboto', sans-serif;
    background: url("../../images/user/background.jpg");
    /* background: #fafafa; */
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /* color: #999; */
}

a,
a:hover,
a:focus {
    /* color: inherit; */
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: white; /*#263238;*/
    color: rgb(1, 139, 211);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 80px 10px 10px 10px;
    background: white; /*#263238;*/
    color: rgb(1, 139, 211) !important;
}

#sidebar ul.components {
    background: white; /*#263238;*/
}

#sidebar ul p {
    color: rgb(1, 139, 211) !important;
    font-weight: 300 !important;
    font-size: 1.1em !important;
    padding-left: 10px;
}

#sidebar ul li a {
    color: rgb(1, 139, 211) !important;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(1, 139, 211) !important;
    background: #3f4e55;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(1, 139, 211) !important;
    background: white; /*#263238;*/
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white; /*#263238;*/
}

#content .navbar-brand {
    width: 5rem;
}

#sidebarCollapse {
    background-color: transparent !important;
}

a img {
    max-width: 80px;
    margin-top: -7px;
    margin-left: 0.1rem;
}

#navtoggle {
    color: gray;
}

#content{
    margin: 0 auto;
}

.icon-grid{
    color: gray;
}

#grid-menu{
    margin-top:0.5rem;
    margin-right: 0.7rem;
}

.blue-parkeen{
    color: rgb(1, 139, 211) !important;
}

.blue-parkeen-back{
    background-color: rgb(1, 139, 211) !important;
    color: white;
}

.grid-link{
    font-size: 0.75rem;
}

@media (max-width: 1000px) {
    .navbar-nav{
        flex-direction: row !important;
    }
    .dropdown-menu{
        position: absolute !important;
    }
}

#border1{
    /* background-color: #263238 !important; */
    background-color: white !important;
}

.divCenterForm{
    /* margin-left: -25% !important; */
    margin: 0 auto !important;
    width: 100% !important;
}

.btnLeft{
    float:right;
}

.red-color{
    color: #dc3545 !important;
}

.padding{
    /* padding-top: 2.1% !important; */
}

.divCenterFormTag{
    /* margin-left: -50% !important; */
    margin: 0 auto !important;
    width: 100% !important;
}

label{
    color: black;
}

h3, h5{
    color: black(1, 139, 211) !important;
}

hr{
    border-color: white;
}

#as{
    color:white;
}